<h1>Admin Panel</h1>
<h2>Number of Products: <%= @product_count %></h2>
<h2>Number of Reviews: <%= @review_count %></h2>
<h2>Number of Users: <%= @user_count %></h2>


<% @products.each do |product| %>
<p><%= link_to product.title, product_path(product.id) %></p>
<p><%= product.id %></p>
<hr>
<% end %>

<div class="row">
   <h3>User Database</h3>
   <% @users.each do |user| %>
   <div class="col-md-4">
     <span><strong> First name: </strong>
       <%= user.first_name %></span><br />
     <span><strong> Last name: </strong>
       <%= user.last_name %></span><br />
     <span><strong> Email: </strong>
       <%= user.email%></span><br />
       <hr />
   </div>
   <% end %>
 </div>
